<div class="container">
	<div class="jumbotron">
		<h2>First NodeJS <img src="lang-logo.png" alt="NodeJS Logo"> App Developed by Yogesh rathod.</h2>
	</div>
	<h2 class="media-heading">
		List of All Registered users is Below
	</h2>
	<div class="table table-bordered">
	<% if (data) { %>
		<div class="thead table-bordered">
			<div class="tr clearfix">
				<div class="th col-xs-3">Full Name</div>
				<div class="th col-xs-3">Profile Image</div>
				<div class="th col-xs-3">Email</div>
				<div class="th col-xs-3">Mobile Number</div>
			</div>
		</div>
		<div class="tbody">
	    <% data.forEach(function(newData) { %>
			<div class="tr clearfix table-bordered">
				<div class="td col-xs-3"><%= newData.fullname %></div>
				<div class="td col-xs-3"><%= newData.username %></div>
				<div class="td col-xs-3"><%= newData.email %></div>
				<% if (newData.mobilenumber) { %>
					<div class="td col-xs-3"><%= newData.mobilenumber %></div>
				<% } else { %>
					<div class="td col-xs-3">Not Given</div>
				<% } %>
			</div>
	    <% }); %>
		</div>
  <% } else { %>
  	<div><span>No Data Found</span></div>
  <% } %>
	</div>
</div>