<div class="container">
	<div class="jumbotron">
		<h2>You have Successfully Registered.</h2>
	</div>
	<div class="user-details">
		<h3>Below Are Your Details</h3>
		<div class="info-points">
			<ul>
				<li><span>1.</span><span>Name: </span><strong></strong></li>
				<li><span>2.</span><span>Email: </span><strong></strong></li>
				<li><span>3.</span><span>Mobile Number: </span><strong></strong></li>
				<li><span>4.</span><span>Profile Image: </span><img src="NoImage.jpg" alt="Profile Image"></li>
			</ul>
		</div>
	</div>
</div>