<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"></span> Home</a>
      </li>
      <!-- <li>
        <a href="/portfolio">Visit Portfolio</a>
      </li> -->
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/home">Website</a>
      </li>
    </ul>
  </div>
</nav>
