<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li <% if (Pagetitle === 'Home') { %>class="active" <% } %> >
        <a href="/"></span> Home</a>
      </li>
      <% if( Pagetitle != 'Main' ) { %>
        <li <% if (Pagetitle === 'Register') { %>class="active" <% } %> >
          <a href="/register">Register</a>
        </li>
        <li <% if (Pagetitle === 'Login') { %>class="active" <% } %> >
          <a href="/login">Login</a>
        </li>
      <% } %>
      <li <% if (Pagetitle === 'Main') { %>class="active" <% } %> >
        <a href="/main">Main</a>
      </li>
    </ul>
    <ul class="pull-right nav navbar-nav">
      <% if( Pagetitle == 'Main' ) { %>
        <li>
          <a href="/logout">Logout</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
