<div class="container">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="jumbotron">
			<h2>
				Reset Password Form
			</h2>
		</div>

		<% if (errors) { %>
			<ul class="alert-danger errors-list">
				<% errors.forEach(function(errorsMsgs) { %>
					<li><%- errorsMsgs.msg %></li>
				<% }); %>
			</ul>
		<% } %>

		<%- messages() %>
		<div class="form-group">
			<form action="/resetpassword" method="POST">
				<div class="form">
					<div class="form-group">
						<label>Enter New Password</label>
						<input type="text" name="password" class="form-control">
					</div>
					<div class="form-group">
						<label>Confirm New Password</label>
						<input type="text" name="passwordTwo" class="form-control">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>