<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container-fluid">
    <header>
      <% include ../partials/nav.ejs %>
    </header>

    <main>
      <% include ../partials/homepage.ejs %>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

  </div>

  <script src="/js/main.js"></script>
</body>
</html>
