<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container-fluid">
    <header>
      <% include ../partials/nav.ejs %>
    </header>

    <main>
      <% include ../partials/login.ejs %>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

  </div>



</body>
</html>
