
<!DOCTYPE html>

<html lang="en" class="no-js">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">

  <link rel="stylesheet" href="/css/vendor/fonts/font.css">

  <link rel="stylesheet" href="/css/vendor/vertical-slider.css">

  <link rel="stylesheet" href="/css/vendor/vertical-slider-main.css">

  <link rel="stylesheet" href="/css/vendor/animate.min.css">

  <link rel="stylesheet" href="/css/main.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <title>Yogesh Rathod | Full Stack JavaScript Developer</title>

</head>
  <body>

    <div class="vs-slider">

      <div class="vs-section active introduction wow fadeIn " data-wow-duration="2s">
        <div class="overlay"></div>
        <section class="intro vp-center">
          <div class="container">
            <div class="row" >
              <h1>
                <span class="name wow fadeInDown">Hi, I'm Yogesh Rathod.</span>
                <span class="occupation wow fadeInDown" data-wow-delay="0.5s">NodeJS Developer</span>
                <span class="occupation wow fadeInDown" data-wow-delay="1s">MEAN STACK Developer</span>
                <span class="occupation wow fadeInDown" data-wow-delay="1.5s">FULL STACK Developer</span>
              </h1>
            </div>
          </div>
        </section>
      </div>

      <div class="vs-section section2 animate">
        <section class="appeal visual vp-center" >
          <div class="container">
            <div class="col-md-6 content-flex">
              <h2 class="secondary-heading">Visual Appeal is <span>only an initial</span><span>impression</span></h2>
            </div>
            <div class="col-md-6 get-height" data-wow-delay="1.5s">
              <div class="img-wrap">
                <!-- <img src="assets/img/travelibro-app-index.jpg" alt="Image" class="img-responsive"> -->
                <div class="img-content">
                  <ul>
                    <li class="">- <span>Beyond</span></li>
                    <li class="">- <span>Pictures</span></li>
                    <li class="">- <span>Illustrations</span></li>
                    <li class="">- <span>Colors</span></li>
                  </ul>
                </div>
              </div>
              <h2 class="secondary-heading text-center li5">Is User Experience</h2>
            </div>
          </div>
        </section>
      </div>

      <div class="vs-section section3 animate">
        <section class="features appeal vp-center">
          <div class="container">
            <div class="col-md-6 content-flex">
              <div>
                <ul>
                  <li class="" >- <span>Structure</span></li>
                  <li class="" >- <span>Accessibility</span></li>
                  <li class="" >- <span>Functionality</span></li>
                  <li class="" >- <span>Interaction</span></li>
                </ul>
                <h2 class="secondary-heading text-center li5">Forms User Experience</h2>
              </div>
            </div>
            <div class="col-md-6 get-height  "  data-wow-delay="1s">
              <div class="img-wrap">
                <!-- <img src="assets/img/travelibro-app-index.jpg" alt="Image" class="img-responsive"> -->
                <div class="img-content">
                  <h2 class="secondary-heading text-center"
                  >User Experience Sticks with User</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="secondary-heading text-center" data-wow-delay="0.5s">bad ux makes users forget your product.</h2>
          </div>
        </section>
      </div>

      <div class="vs-section section4 animate">
        <section class="bad-ux vp-center">
          <div class="container" data-wow-delay="1.5s">
            <div class="row">
              <div class="col-md-6 get-height">
                <h2 class="secondary-heading text-center">good ux makes users</h2>
                <ul>
                  <li>- <span>Happy</span></li>
                  <li>- <span>Loyal</span></li>
                  <li>- <span>Special</span></li>
                  <li>- <span>feel unique</span></li>
                </ul>
              </div>
              <div class="col-md-6 content-flex text-center">
                <h2 class="secondary-heading text-center">customers <span>for</span><span>life</span></h2>
              </div>
            </div>
          </div>

          <div class="light-grey">
            <div class="container">
              <h2 class="secondary-heading text-center  " data-wow-delay="1s">connect with us to chat about <span>your product ux.</span></h2>
            </div>
          </div>
        </section>
      </div>

      <!-- <div class="vs-section">
        <h2>Section 5</h2>
      </div> -->

      <nav>
        <ul class="vs-vertical-nav">
          <li><a href="javascript:void(0)" class="vs-prev">Next</a></li>
          <li><a href="javascript:void(0)" class="vs-next">Prev</a></li>
        </ul>
      </nav>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="/js/vendor/hammer.min.js"></script>

    <script src="/js/vendor/velocity.min.js"></script>

    <script src="/js/vendor/velocity.ui.min.js"></script>

    <script src="/js/vendor/vertical-slider.js"></script>

    <script src="/js/vendor/vertical-slider-main.js"></script>

    <script src="/js/vendor/wow.min.js"></script>

    <script src="/js/main.js"></script>
  </body>

</html>
